<?xml version="1.0"?>


<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" >
     
    </compilation>
  </system.web>
  

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" name="sslBasicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Files.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://localhost:54438/Service.svc" binding="basicHttpBinding" contract="MyApp.Interfaces.IService" />
      
    </client>
    
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
     <add name="Json-Integrated-4.0" path="*.jsonp" verb="*" type="MyApp.Ajax.DataHandler" resourceType="Unspecified" preCondition="integratedMode"/>
       </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>

        </fileExtensions>
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>
