.fixHeaderStrip {
    height: 103px !important;
}

.headerStrip {
    
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fbfbfb 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e5e5e5',GradientType=0 );
    
    border-bottom: 6px solid #CB0006;
    height: 95px;
    margin-bottom:40px;
}

body {
    text-align: right !important;
}

.container {
    max-width: 1700px !important;
}



